@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: Roboto;
  padding: 50px;
  background: linear-gradient(to bottom right, #d26ba3, #bd576b);
  height: 100vh;
  display: flex;
  /* cross axis */
  align-items: center;
  /* main axis */
  justify-content: center;
}

.idol {
  /* default is row */
  display: flex;
  max-width: 750px;
  border-radius: 4px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
}
.idol__hero {
  flex: 0 1 32%;
}
.idol__img {
  width: 100%;
  height: 300px;
}
.idol__info {
  flex: 1;
  background: #ffc7ee;
  padding: 35px 30px;
  display: flex;
   flex-direction: column;
    justify-content: space-between;
}

.idol__score {
  flex: 0 0 50px;
  background: linear-gradient(to bottom, #f58dc6, #ef738b);
  writing-mode: vertical-rl;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Content*/
.idol__title {
    display: flex;
    align-items: center;
}

.idol__heading{
    font-size: 24px;
    margin-right: auto;
}
.idol__tag{
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding: 2px 7px;
    border-radius: 25px;
    margin-left: 7px;
}
.pizza__tag--1 {
    background-color: #f58dc6;
}
.pizza__tag--2 {
    background-color: #ef738b;
}

.idol__description {
    font-size: 16px;
}
.idol__details{
    display: flex;
/*    margin-top: auto;*/
}
.idol__detail 
{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    font-weight: 700;
}
.emoj {
    font-size: 16px;
    margin-right: 3px;
}
